body {
    font-family: Arial;
    text-align: center;
    background-color: lightblue;
    margin: 0;}

h1 {
    color: darkblue;
}
p {
    font -size: 18px;
}
nav {
    background-color: black;
    padding: 15px;
}

nav a {
    color: white;
    margin: 20px;
    text-decoration: none;
}